@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

:root {
  --red: rgb(235, 0, 0);
  --darkred: rgb(175, 0, 0);
  --lightred: rgb(255, 50, 50);
}

.icon-container img {
  transition: opacity 0.3s;
}

.icon-container:hover img {
  opacity: 0.6;
}

.icon-container img:hover {
  opacity: 1;
}

.icon-continer:hover .tooltip {
  --rt-color-dark: #000;
  --rt-opacity: 1.0;
}

/* Hide horizontal scrollbar */
body {
  overflow-x: hidden;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the scrollbar for Firefox */
body {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}